.element {
  color: #eee;
  margin-bottom: 50px;
  max-width: 600px;
  cursor: pointer;
}
.content {
  display: flex;
  flex-direction: column;
  a {
    color: #4e98f8;
    margin-bottom: 7px;
    &:visited {
      color: #c58af9;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  strong {
    font-size: 20px;
  }
}
.description {
  color: #eee;
  margin-top: 7px;
}

.message {
  display: block;
  width: 100%;
  text-align: center;
  color: #eee;
}
